extends layout
block content
    .starter-template
      h1 Your message our mission
      p.lead
        | Thank you for choosing our site.
        br
        |         We hope that you will be satisfied with our services.
